@import "tailwindcss";

:root {
    --clr-gold: #bc8e5b;
}

.ant-btn-primary {
    background-color: var(--clr-gold) !important;
}

.ant-input-affix-wrapper-focused,
.ant-input-outlined:hover {
    border-color: var(--clr-gold) !important;
}
